<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet href=static/index.css>
        <script src=static/index.js defer></script>
    </head>
    <body>
        <div class="container">
            <div class="select-date">
                <h2>SELECT A DATE</h2>
            </div>
            <div class="calender-view"> 
                <table id="calender-table">
                    <tr>
                        <td id="btn-prev">&lt</td>
                        <td colspan="5" id="month-year">September 2021</td>
                        <td id="btn-next">&gt</td>
                    </tr>
                    <tr>
                        <td>MO</td>
                        <td>TU</td>
                        <td>WE</td>
                        <td>TH</td>
                        <td>FR</td>
                        <td>SA</td>
                        <td>SU</td>
                    </tr>
                </table>
            </div>
            <div class="select-time-view">
                <table id="time-table">
                    
                </table>
            </div>
            <div class="colors">
                <span id="available"></span>
                <span>Available</span>
                <span id="sold-out"></span>
                <span>Sold Out</span>
                <span id="selected"></span>
                <span>Selected</span>
            </div>
        </div>
    </body>
</html>